<p id="notice"><%= notice %></p>

<h1>Listing T User Accounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= @t_user_accounts.count %>
    <% @t_user_accounts.each do |t_user_account| %>
      <tr>
        <td><%= link_to 'Show', t_user_account %></td>
        <td><%= link_to 'Edit', edit_t_user_account_path(t_user_account) %></td>
        <td><%= link_to 'Destroy', t_user_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T user account', new_t_user_account_path %>
